*{
    margin: 13px;
    padding: 10px;
    font-family: Franklin Gothic Medium;
}
.herosec{
    margin: 3px;
    padding: 3px;
    /* border: 2px; */
    display: flex;
}
#herotext h1{
    font-size: 55px;
    word-spacing: 4%;
    font-weight:550px;

}
#herotext h3{
    font-size: 25px;
    color: rgb(123, 123, 123);
    word-spacing: 5%;
    font-weight: 300;
}
#heroimg{
    height: 200px;
    width: 450px;
    padding: 0%;
    margin: 0%;

}
#heroimg a img{
    border: 90px;
    border-radius: 20px;
}
.buttons{
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    

}
#but1 button{
  margin: 0;
  border: 0;
  padding: 0;
  /* padding: 5px; */
  height: 45px; 
  font-size: medium;
  width: 140px;
  border-radius: 10px;
  word-spacing: 5%;
  font-weight:200;
  background-color: black;
  color: white;

}
#but2 button{
    margin: 0;
    word-spacing: 5%;
    font-weight:200;
    padding: 0;
    height: 45px;
    padding: 10px;
    font-size: medium;
    color: black;
    background-color: white;
    border-radius: 10px;
    border-color: rgb(217, 214, 214);

}
.text{
    margin-top: 120px;
    
}
#textele{
    font-size: 18px;
    color: rgb(123, 123, 123);
    word-spacing: 5%;
    font-weight: 300;
}
#textele h4{
    font-size: 43px;
    word-spacing: 4%;
    font-weight:550px;
    color: black;

}
.main1{
    margin: 15px;
    margin-top: 50px ;
    padding: 3px;
    /* border: 2px; */
    display: flex;
    
}
#mainsec1{
    margin-top: 100px;
    font-size: 17px;
    color: rgb(123, 123, 123);
    word-spacing: 5%;
    font-weight: 300;
    
}
#mainsec1 h4{
    font-size: 33px;
    word-spacing: 4%;
    font-weight:550px;
    color: black;


}
#img1 a img{
  height: 380px;
  width: 420px;
  border: 90px;
  border-radius: 20px;
}


.main2{
    margin: 0px;
    padding: 0px;
    /* border: 2px; */
    display: flex;
    
}
#mainsec2{
    margin: 0px;
    padding: 0px;
    margin-top: 200px;
    font-size: 20px;
    color: rgb(123, 123, 123);
    word-spacing: 5%;
    font-weight: 300;
    
}
#mainsec2 h4{
    font-size: 33px;
    word-spacing: 4%;
    font-weight:550px;
    color: black;


}
#img2 a img{
  height: 550px;
  width: 450px;
  border: 90px;
  border-radius: 30px;
}
.quote h2{
    margin: 15px;
    margin-top: 50px ;
    margin-left: 60px;
    padding: 10px;
    font-size: 38px;
    word-spacing: 4%;
    font-weight:550px;
    color: black;
    text-align: center;

}
.characters-section{
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 50px;
    margin-left: 50px;
    /* justify-content: space-evenly; */

}
.box{ 
    /* border:2px solid black; */
    height: 400px;
    width:27% ;
    background-color: white;
    
    /* padding: 20px 0px 15px; */
    /* margin-top: 15px; */
    background-color: rgb(235, 235, 235);
    
    border-radius: 15px ;
}
.box-img{
    margin-left: 30px;
    height: 170px;
    width: 150px;
    background-size: cover;
    border-radius: 10px; 
    
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
}
.box-content h2{
    font-size: 25px;
    word-spacing: 5%;
    font-weight:400px;
    color: black;

}

.box-content p{
    font-size: 15px;
    color: rgb(123, 123, 123);
    word-spacing: 5%;
    font-weight: 300;
}
.quote-box {
    border-left: 3px solid lightgray; /* vertical line */
    padding-left: 20px;               /* space between line & text */
    margin-left: 80px;  
    margin-top: 70px;              /* optional */
}

.quote-box p {
    /* font-size: 40px;
    font-weight: 600; */
    font-size: 43px;
    word-spacing: 4%;
    font-weight:600;
}
.lastimg{
    margin-left: 80px;  
    margin-top: 70px; 
}
.lastimg a img{
    height: 500px;
    width: 900px;
    border-radius: 20px;
}

#lastimgtext{
    font-size: 20px;
    color: rgb(123, 123, 123);
    word-spacing: 5%;
    font-weight: 300;
}
#lastimgtext h4{
    font-size: 40px;
    word-spacing: 4%;
    font-weight:700;
    color: black;

}
.footer{
    margin-left: 50px;  
    margin-bottom: 0%;
    display: flex;
    padding: 60px 80px;
    justify-content: space-between;  /* left and right spacing */
    align-items: center;

}
.footer h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    word-spacing: 0%;
    font-weight: 1000; /* MUCH bolder */
    color: black;
    
}
#footext{
    align-items: end;
    display: flex;
    align-items: flex-end;
}



